<header class="header"><%= image_tag("logo.png", class: "logo-image", id: "logo-image") %></header>

<section>
	<p>Cafe Yeondoo is now <span class="<%= @isOpen? "open": "closed" %>"><%= @isOpen? "Open": "Closed" %></span></p>
	<p>Today's Hours: <%= @openHour.strftime("%H : %M") %> - <%= @closeHour.strftime("%H : %M") %></p>
</section>

<!-- Map -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script>
var marker;
var map;

function initialize() {
	var yeondooLatlng = new google.maps.LatLng(37.5793285, 126.9824502);

	var mapOptions = {
		zoom: 15,
		center: yeondooLatlng
	};

	map = new google.maps.Map(document.getElementById('map-canvas'),
		mapOptions);

	marker = new google.maps.Marker({
			position: yeondooLatlng,
			map: map,
			title: 'Yeondoo',
			animation: google.maps.Animation.DROP,
	});

	google.maps.event.addListener(marker, 'click', toggleBounce);
}

function toggleBounce() {
	if (marker.getAnimation() != null) {
		marker.setAnimation(null);
	} else {
		marker.setAnimation(google.maps.Animation.BOUNCE);
	}
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>
<div id="map-canvas"></div>

<div class="fb-like-box-wrapper"><div class="fb-like-box" data-href="https://www.facebook.com/ydcoffee" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="true" data-show-border="false" data-width="320"></div></div>