<% title t('menu.title') + ' : ' + t('default_title') %>
<% description t('menu.description') %>
<% image 'menu.jpg' %>

<div class="menu-wrapper">
	<h2><%= t('menu.title') %></h2>
	<hr>
	<h3><%= t('menu.delivery_available.title') %></h3>
	<ul class="menu-list">
	<% @deliveries.each do |menu| %>
		<%= render partial: "menu/menu", locals: {menu: menu} %>
	<% end %>
	</ul>
	<div class="menu-detail">
		<ul>
			<li><%= simple_format(t('menu.delivery_available.detail1')) %></li>
			<li><%= simple_format(t('menu.delivery_available.detail2', :price_for_free_delivery => number_to_currency(@price_for_free_delivery, locale: :ko), :price_for_delivery => number_to_currency(@price_for_delivery, locale: :ko))) %></li>
			<li><%= simple_format(t('menu.delivery_available.detail3')) %></li>
		</ul>
	</div>

	<h3><%= t('menu.handdrip_coffee.title') %></h3>
	<ul class="menu-list">
	<% @handdrip_coffees.each do |menu| %>
		<%= render partial: "menu/menu", locals: {menu: menu} %>
	<% end %>
	</ul>
	<div class="menu-detail">
		<ul>
			<li><%= simple_format(t('menu.handdrip_coffee.detail1')) %></li>
			<li><%= simple_format(t('menu.handdrip_coffee.detail2', :price_for_additional_refill => number_to_currency(@price_for_additional_refill, locale: :ko))) %></li>
		</ul>
	</div>

	<h3><%= t('menu.dutch_coffee.title') %></h3>
	<ul class="menu-list">
	<% @dutch_coffees.each do |menu| %>
		<%= render partial: "menu/menu", locals: {menu: menu} %>
	<% end %>
	</ul>
	<div class="menu-detail">
		<ul>
			<li><%= simple_format(t('menu.dutch_coffee.detail1')) %></li>
		</ul>
	</div>

	<h3><%= t('menu.espresso_variations.title') %></h3>
	<ul class="menu-list">
	<% @espresso_variations.each do |menu| %>
		<%= render partial: "menu/menu", locals: {menu: menu} %>
	<% end %>
	</ul>
	<div class="menu-detail">
		<ul>
			<li><%= simple_format(t('menu.espresso_variations.detail1')) %></li>
		</ul>
	</div>

	<h3><%= t('menu.tea.title') %></h3>
	<ul class="menu-list">
	<% @red_teas.each do |menu| %>
		<%= render partial: "menu/menu", locals: {menu: menu} %>
	<% end %>
	<% @teas.each do |menu| %>
		<%= render partial: "menu/menu", locals: {menu: menu} %>
	<% end %>
	</ul>
	<div class="menu-detail">
		<ul>
			<li><%= simple_format(t('menu.tea.detail1')) %></li>
		</ul>
	</div>

	<h3><%= t('menu.beverage.title') %></h3>
	<ul class="menu-list">
	<% @beverages.each do |menu| %>
		<%= render partial: "menu/menu", locals: {menu: menu} %>
	<% end %>
	</ul>

	<h3><%= t('menu.wine.title') %></h3>
	<ul class="menu-list">
	<% @mixed_wines.each do |menu| %>
		<%= render partial: "menu/menu", locals: {menu: menu} %>
	<% end %>
	<% @wines.each do |menu| %>
		<%= render partial: "menu/menu", locals: {menu: menu} %>
	<% end %>
	</ul>
	<div class="menu-detail">
		<ul>
			<li><%= simple_format(t('menu.wine.detail1')) %></li>
			<li><%= simple_format(t('menu.wine.detail2', :price_for_glass_wine => number_to_currency(@price_for_glass_wine, locale: :ko))) %></li>
		</ul>
	</div>

	<h3><%= t('menu.side_menu.title') %></h3>
	<ul class="menu-list">
	<% @sides.each do |menu| %>
		<%= render partial: "menu/menu", locals: {menu: menu} %>
	<% end %>
	</ul>
</div>