<div class="menu-wrapper">
	<h2>Menu (prices in <a href="http://www.xe.com/currency/krw-south-korean-won">KRW</a>)</h2>
	<hr>
	<h3>Delivery available</h3>
	<ul class="menu-list">
	<% @deliveries.each do |menu| %>
		<%= render partial: "menu/menu", locals: {menu: menu} %>
	<% end %>
	</ul>
	<div class="menu-detail">
		<ul>
			<li>
				Please refer to the list of <span class="italic">hand drip coffee</span> for origins of coffee beans.
			</li>
			<li>
				Free delivery is offered for orders over <%= number_to_currency(@price_for_free_delivery, locale: :ko) %>, or <%= number_to_currency(@price_for_delivery, locale: :ko) %> is added to the total price as delivery fee.
			</li>
			<li>
				For delivery order, please contact us!
			</li>
		</ul>
	</div>

	<h3>Hand drip coffee</h3>
	<ul class="menu-list">
	<% @handdrip_coffees.each do |menu| %>
		<%= render partial: "menu/menu", locals: {menu: menu} %>
	<% end %>
	</ul>
	<div class="menu-detail">
		<ul>
			<li>
				1 cup of hand drip coffee is offered for free.
			</li>
			<li>
				<%= number_to_currency(@price_for_additional_refill, locale: :ko) %> is charged for each additional refill.
			</li>
		</ul>
	</div>

	<h3>Dutch coffee</h3>
	<ul class="menu-list">
	<% @dutch_coffees.each do |menu| %>
		<%= render partial: "menu/menu", locals: {menu: menu} %>
	<% end %>
	</ul>
	<div class="menu-detail">
		<ul>
			<li>
				A bottle set consists of a bottle of dutch coffee and a paper box.
			</li>
		</ul>
	</div>

	<h3>Espresso variations</h3>
	<ul class="menu-list">
	<% @espresso_variations.each do |menu| %>
		<%= render partial: "menu/menu", locals: {menu: menu} %>
	<% end %>
	</ul>
	<div class="menu-detail">
		<ul>
			<li>
				1 cup of hot americano is offered for free.
			</li>
		</ul>
	</div>

	<h3>Tea</h3>
	<ul class="menu-list">
	<% @red_teas.each do |menu| %>
		<%= render partial: "menu/menu", locals: {menu: menu} %>
	<% end %>
	<% @teas.each do |menu| %>
		<%= render partial: "menu/menu", locals: {menu: menu} %>
	<% end %>
	</ul>
	<div class="menu-detail">
		<ul>
			<li>
				You might wonder what <a href="http://en.wikipedia.org/wiki/Omija_hwachae">Omija</a> is.
			</li>
		</ul>
	</div>

	<h3>Beverage</h3>
	<ul class="menu-list">
	<% @beverages.each do |menu| %>
		<%= render partial: "menu/menu", locals: {menu: menu} %>
	<% end %>
	</ul>

	<h3>Wine</h3>
	<ul class="menu-list">
	<% @mixed_wines.each do |menu| %>
		<%= render partial: "menu/menu", locals: {menu: menu} %>
	<% end %>
	<% @wines.each do |menu| %>
		<%= render partial: "menu/menu", locals: {menu: menu} %>
	<% end %>
	</ul>
	<div class="menu-detail">
		<ul>
			<li>
				We offer an extensive and ever-changing wine menu. Please contact us for more information.
			</li>
			<li>
				<span class="italic">La Mision Cabernet Sauvignon</span> is also served with a glass at the price of <%= number_to_currency(@price_for_glass_wine, locale: :ko) %>
			</li>
		</ul>
	</div>

	<h3>Side menu</h3>
	<ul class="menu-list">
	<% @sides.each do |menu| %>
		<%= render partial: "menu/menu", locals: {menu: menu} %>
	<% end %>
	</ul>
</div>