<div class="menu-wrapper">
<h2>Menu (prices in <a href="http://www.xe.com/currency/krw-south-korean-won">KRW</a>)</h2>
<hr>
<h3>Hand drip coffee</h3>
<% @handdrip_coffees.each do |menu| %>
	<%= render partial: "menu/menu", locals: {menu: menu} %>
<% end %>
<div class="menu-detail">
	<ul>
		<li>
			1 free refill is offered for free.
		</li>
		<li>
		<%= number_to_currency(@price_for_additional_refill, locale: :ko) %> is charged for each additional refill.
		</li>
	</ul>
</div>

<h3>Dutch coffee</h3>
<% @dutch_coffees.each do |menu| %>
	<%= render partial: "menu/menu", locals: {menu: menu} %>
<% end %>

<h3>Espresso variations</h3>
<% @espresso_variations.each do |menu| %>
	<%= render partial: "menu/menu", locals: {menu: menu} %>
<% end %>
<div class="menu-detail">
	<ul>
		<li>
			1 free cup of hot americano is offered for free.
		</li>
	</ul>
</div>

<h3>Tea</h3>
<% @red_teas.each do |menu| %>
	<%= render partial: "menu/menu", locals: {menu: menu} %>
<% end %>
<% @teas.each do |menu| %>
	<%= render partial: "menu/menu", locals: {menu: menu} %>
<% end %>
<div class="menu-detail">
	<ul>
		<li>
			You might wonder what <a href="http://en.wikipedia.org/wiki/Omija_hwachae">Omija</a> is.
		</li>
	</ul>
</div>

<h3>Beverage</h3>
<% @beverages.each do |menu| %>
	<%= render partial: "menu/menu", locals: {menu: menu} %>
<% end %>

<h3>Wine</h3>
<% @mixed_wines.each do |menu| %>
	<%= render partial: "menu/menu", locals: {menu: menu} %>
<% end %>
<% @wines.each do |menu| %>
	<%= render partial: "menu/menu", locals: {menu: menu} %>
<% end %>
<div class="menu-detail">
	<ul>
		<li>
			Yeondoo offers an extensive and ever-changing wine menu. Please contact us for more information.
		</li>
		<li>
			<span class="italic">La Mision Cabernet Sauvignon</span> is also served with a glass at the price of <%= number_to_currency(@price_for_glass_wine, locale: :ko) %>
		</li>
	</ul>
</div>

</div>