<!DOCTYPE html>
<html>
<head>
  <title>Yeondoo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '841634859226833',
      xfbml      : true,
      version    : 'v2.2'
    });

    FB.api(
      "/coffeeyd/feed",
      function (response) {
        if (response && !response.error) {
          console.log(response);
        }
      }
    );
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<header class="header"><%= image_tag("logo.png", class: "logo-image", id: "logo-image") %></header>

<%= yield %>

</body>
</html>