<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <meta name="description" content="<%= @description %>">
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
  <meta property="og:title" content="<%= @title %>"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="<%= asset_url "open.jpg" %>"/>
  <meta property="og:url" content="<%= request.original_url %>"/>
  <meta property="og:description" content="<%= @description %>"/>
  <meta property="fb:admins" content="1544971625"/>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="<%= request.original_url %>">
  <meta name="twitter:title" content="<%= @title %>">
  <meta name="twitter:description" content="<%= @description %>">
  <meta name="twitter:image" content="<%= asset_url "open.jpg" %>">
  <meta itemprop="name" content="<%= @title %>">
  <meta itemprop="description" content="<%= @description %>">
  <meta itemprop="image" content="<%= asset_url "open.jpg" %>">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <%= favicon_link_tag 'favicon.png' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '841634859226833',
      xfbml      : true,
      version    : 'v2.2'
    });

    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div id="layout">
  <a href="#menu" id="menuLink" class="menu-link">
    <span></span>
  </a>

  <div id="menu">
    <div class="pure-menu pure-menu-open">
      <!-- <a class="pure-menu-heading" href="#">Yeondoo</a> -->
      <ul>
        <li><a href="#">Home</a></li>
        <!-- <li><a href="#">About</a></li>
        <li class="menu-item-divided pure-menu-selected">
          <a href="#">Services</a>
        </li> -->
      </ul>
    </div>
  </div>

  <div id="main">
    <header class="header <%= @isOpen? 'isOpen': '' %>">
      <%= image_tag("logo.png", class: "logo-image", id: "logo-image") %>
      <div class="text">
        <p>Now <span class="<%= @isOpen? "open": "closed" %>"><%= @isOpen? "Open": "Closed" %></span></p>
        <p>Today's Hours: <%= @openHour.strftime("%H : %M") %> - <%= @closeHour.strftime("%H : %M") %></p>
      </div>
      <div class="background-opacity"></div>
    </header>

    <%= yield %>

    <footer>
      <p class="content"><%= @quote.content %></p>
      <p class="name">- <%= @quote.name %></p>
      <p>Copyright © 2014 by Yeondoo</p>
      <p><%= link_to('Facebook', 'https://fb.me/ydcoffee', target: '_blank') %> - <%= link_to('Github', 'https://github.com/leehankyeol/Yeondoo', target: '_blank') %></p>
    </footer>
  </div>
</div>
</body>
</html>